<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title th:text="#{index.title}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="p-5 mb-4 bg-light rounded-3 border">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold text-dark" th:text="#{index.header}"></h1>
            <p class="col-md-8 mx-auto fs-4 mt-3 text-muted" th:text="#{index.subtitle}"></p>
            <hr class="my-4">
            <p class="lead" th:text="#{index.lead}"></p>
        </div>
    </div>
</section>
</body>
</html>