<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Bug Bounty Client T8</title>
</head>
<body>
<section layout:fragment="content">
    <div class="p-5 mb-4 bg-light rounded-3 border mt-4">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold text-dark">Bug Bounty Client</h1>
            <p class="col-md-8 mx-auto fs-4 mt-3 text-muted">Sistema de gerenciamento de programas de recompensa por vulnerabilidades via API REST</p>
            <hr class="my-4">
            <p class="lead">Utilize o menu superior para navegar entre as opções.</p>
        </div>
    </div>
</section>
</body>
</html>