<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title th:text="${id == null} ? 'Cadastrar Programa' : 'Editar Programa'"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0" th:text="${id == null} ? 'Cadastrar Novo Programa ' : 'Editar Dados do Programa '"></h4>
                </div>
                <div class="card-body">
                    <form th:action="${id == null} ? @{/programas/cadastrar} : @{/programas/editar/{id}(id=${id})}"
                          th:object="${programa}" method="POST">

                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" id="titulo" th:field="*{titulo}" class="form-control" required
                                placeholder="Ex: Vulnerabilidades Web - API Principal"/>
                        </div>

                        <div class="mb-3">
                            <label for="escopo" class="form-label">Escopo Autorizado</label>
                            <input type="text" id="escopo" th:field="*{escopo}" class="form-control" required
                                   placeholder="Ex: *.site.com.br, api.site.com.br" />
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="recompensaMaxima" class="form-label">Recompensa Máxima</label>
                                <div class="input-group">
                                    <span class="input-group-text">R$</span>
                                    <input type="number" step="0.01" id="recompensaMaxima" th:field="*{recompensaMaxima}" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="dataLimite" class="form-label">Data Limite de Submissão</label>
                                <input type="date" id="dataLimite" name="dataLimite"
                                       th:value="${programa.dataLimite != null ? #temporals.format(programa.dataLimite, 'yyyy-MM-dd') : ''}"
                                       class="form-control" required />
                            </div>
                        </div>

                        <div class="d-flex justify-content-end gap-2 mt-3">
                            <a th:href="@{/programas/listar}" class="btn btn-secondary">Voltar</a>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>